@import './_variable.scss';
@import './_placeholder.scss';
@import './rem.scss';

/* mixin
   ========================================================================== */


/**
 * border($d, $w, $c, $s)
 * @param $d 方位 top | right | bottom | left
 * @param $w 宽度 1[px|rem]
 * @param $c 颜色 #DBDBDB
 * @param $s 样式 solid | dashed | dotted
 * e.g.
 * @include border();           => border: 1px solid #DBDBDB;
 * @include border($d: bottom); => border-bottom: 1px solid #DBDBDB;
 * @include border($w: 0); => border: 0;
 * @include border($d: bottom, $w: 0); => border-bottom: 0;
 */

$border_width: 1px !default;
$border_color: $c-border !default;
$border_style: solid !default;
@mixin border( $d: null, $w: $border_width, $c: $border_color, $s: $border_style) {
  $border-name: if($d, border-#{$d}, border);
  @if $w !=0 {
    #{$border-name}: $w $s $c;
  }
  @else {
    #{$border-name}: none;
  }
}


/**
 * 背景 cover
 * @include bg-image(cash, rem(30), center left);
 * @include bg-image(cash, $p: center left);
 */

@mixin bg-image($img_url, $s: null, $p: center center, $r: no-repeat) {
  background-image: url('../images/#{$img_url}.png');
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/#{$img_url}.png',
  sizingMethod='scale')\0;
  @if $s {
    background-size: $s;
  }
  @else {
    @extend %bgs-full;
  }
  @if $p {
    background-position: $p;
  }
  @else {
    @extend %bgp-cc;
  }
  @if $r {
    background-repeat: $r;
  }
  @else {
    @extend %bgr-no;
  }
}


/**
 * 模糊
 * @include blur(10px);
 */

@mixin blur($s: null) {
  @extend %ov-h;
  filter: blur(#{$s});
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='#{$s}')\0;
}


/**
 * 圆
 * @include circle(20px);
 */

@mixin circle($l: null) {
  width: $l;
  height: $l;
  @extend %bdrs-circle;
}


/* 对话框边上的三角形 */

@mixin horn($d: right,
$s: 10,
$c: currentColor) {
  width: 0;
  height: 0;
  border: rem($s) solid transparent;
  border-#{$d}-color: $c;
}
