@import './_global.scss';
// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @extend %box-bb;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// base
html,
body,
#app {
  height: 100%;
}

html {
  font-size: $htmlFontSize;
  margin: 0 auto;
}

body {
  @extend %font-family;
  font-size: $s-base;
  color: $c-base;
  line-height: 1.5;
  word-break: break-all;
  background: $c-bg;
}

$headings: ( h1: $s-lg, h2: $s-md, h3: $s-sm) !default;
@each $header,
$s in $headings {
  #{$header} {
    font-size: $s;
    @extend %fw-n;
  }
}

h4,
h5,
h6 {
  font-size: $s-base;
  @extend %fw-n;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  @extend %li-no;
}

input,
textarea {
  width: 100%;
  &:disabled {
    background: transparent;
  }
}

// input,
// button,
// textarea {
//   @include border($w: 0);
//   outline: none;
// }
textarea {
  resize: none;
}

::placeholder {
  color: $c-gray;
}

svg path {
  fill: inherit;
}


/* common class
   ========================================================================== */

.row-wrap {
  padding: 0 rem(40);
  @extend %bg-white;
  margin-bottom: rem(20);
}

.row-btn-wrap {
  line-height: rem(64);
  .common-row {
    padding: rem(20) 0;
  }
  .row-btn {
    height: rem(64);
    line-height: rem(64);
    width: 100%;
    padding: 0 rem(20);
  }
}

.border-none {
  @extend %border-none;
  .common-row {
    @extend %border-none;
  }
}

// 箭头
.arrow {
  @extend %arrow;
}

.bdt {
  @include border($d: top);
}

.bdb {
  @include border($d: bottom);
}

.toe {
  @extend %toe;
}

.pos-r {
  @extend %pos-r;
}

.h-full {
  height: 100%;
}

.min-h-full {
  min-height: 100%;
}

// float
.clearfix {
  @extend %clearfix;
}

.fl {
  @extend %fl;
}

.fr {
  @extend %fr;
}

// text-align
.tac {
  @extend %tac;
}

.tal {
  @extend %tal;
}

.tar {
  @extend %tar;
}

// color
.c-theme {
  color: $c-theme;
}

.c-base {
  color: $c-base;
}

.c-border {
  color: $c-border;
}

.c-white {
  color: $c-white;
}

.c-gray {
  color: $c-gray;
}

.c-gray-light {
  color: $c-gray-light;
}

.c-yellow {
  color: $c-yellow;
}

.c-red {
  color: $c-red;
}

.bg-white {
  @extend %bg-white;
}

// font-size
.fs-min {
  font-size: $s-min;
}

.fs-max {
  font-size: $s-max;
}

.fs-md {
  font-size: $s-md;
}

// margin
.mb-sm {
  @extend %mb-sm;
}

.mb-20 {
  margin-bottom: rem(20);
}

.pt-30 {
  padding-top: rem(30);
}

.pb-30 {
  padding-bottom: rem(30);
}


/* 路由过渡状态
   ========================================================================== */

.router-fade-enter-active,
.router-fade-leave-active {
  transition: opacity .3s;
}

.router-fade-enter,
.router-fade-leave-active {
  opacity: 0;
}


/* animation
   ========================================================================== */

.ani-slide {
  transition: transform 0.3s ease;
}

.slide-line {
  @include border($d: bottom, $c: $c-red, $w: 2px);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 50%;
}
