@import './rem.scss';

/* variable
   ========================================================================== */

// html font size
$htmlFontSize: $baseFont+px;
// color
$c-theme: #00ABF0 !default;
$c-base: #333 !default;
$c-border: #eee;
$c-bg: #F7F7F7;
$c-white: #fff;
$c-gray-light: #BBBBBB;
$c-gray-dark: #ADADAD;
$c-gray: #999;
$c-yellow: #FFC041;
$c-red: #E33133;
// size
$s-base: rem(30) !default;
$s-min: rem(26) !default;
$s-max: rem(70) !default;
$s-lg: rem(40) !default;
$s-md: rem(36) !default;
$s-sm: rem(32) !default;
